{% extends "base.html" %}
{% block title %}Reset Your Password{% endblock %}
{% block content %}
<h2>Reset Your Password</h2>
<p>Hi {{ first_name }}, we received a request to reset your Urban Bird account password.</p>
<p>Click the button below to set a new password. This link is valid for <strong>1 hour</strong>.</p>
<center>
  <a href="{{ reset_url }}" class="cta">Reset Password</a>
</center>
<p style="color:#6b7280;font-size:13px;">
  If you didn't request this, you can safely ignore this email. Your account remains secure.
</p>
{% endblock %}
